

          {{ form_errors(form) }}
<form novalidate="novalidate" class="form-horizontal" action="{{ path('new_apartment') }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
          
          
          <legend>General</legend>
  
            {{ form_row(form.title, 
              { 
                'label': 'Headline *', 
                'help' : 'The main selling points of your offer (ex. Renovated 4½ downtown)'
              }) 
            }}
          
            {{ form_row(form.size, 
              { 
                'label': 'Size', 
                'help' : '# of rooms'
              }) 
            }}
          
            {{ form_row(form.lease.monthly_price, 
              { 
                'label': 'Price', 
                'help' : '$ / month'
              }) 
            }}
          
            {{ form_row(form.lease.start_date) }}

            {{ form_row(form.is_furnished, 
              { 
                'label': 'Is Furnished?'
              }) 
            }}

            {{ form_row(form.description, 
              { 
                'label': 'Details', 
                'help' : 'Any information not included elsewhere'
              }) 
            }}
            
          <legend>Photo</legend>
  
          
            {{ form_row(form.file, 
              { 
                'label': 'Image File', 
                'help' : '".jpg", ".png" or ".gif" file extension'
              }) 
            }}
            
          <legend>Map</legend>
  
          <div class="row">
            <div class="span6">
              {{ form_row(form.address, 
                { 
                  'label': 'Address *', 
                  'help' : '(ex. 5789 Boulanger Avenue, K2N 9M3, Verdun)'
                }) 
              }}
            </div>
            <div class="span6">
              <div id="apartment_map" class="semihidden"></div>
            </div>
          </div>
          
          {{ form_rest(form) }}
          
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save apartment</button>
            <button class="btn">Cancel</button>
          </div>
          
        </fieldset>
</form>
    