{% extends 'NimbusApartmentsBundle::map.html.twig' %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/bundles/nimbusapartments/js/apartment_form.js') }}" type="text/javascript"></script>
{% endblock %}
    
{% block body %}

    <h1>Publish your apartment</h1>
    <p>Use this form to show off your apartment to Montreal</p>
    
    {{ form_errors(form) }}
    <form novalidate="novalidate" class="form-horizontal" action="{{ path('new_apartment') }}" method="post" {{ form_enctype(form) }}>
       <fieldset>
          {% include 'NimbusApartmentsBundle:Apartment:form.html.twig' %}
       </fieldset>
    </form>
    
{% endblock %}