{% extends 'NimbusApartmentsBundle::map.html.twig' %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/bundles/nimbusapartments/js/apartment_form.js') }}" type="text/javascript"></script>
    
    <script type="text/javascript">
      
      var NimApart = NimApart || {};
      
      $(document).ready(function() {
        setTimeout("NimApart.refreshFormMarker(new google.maps.LatLng({{ point.latitude }}, {{ point.longitude }}));", 500);
      });
      
    </script>
{% endblock %}
    
{% block body %}

    <h1>Update your apartment</h1>
    
    {{ form_errors(form) }}
    <form novalidate="novalidate" class="form-horizontal" action="{{ path('update_apartment', {'slug': slug}) }}" method="post" {{ form_enctype(form) }}>
       <fieldset>
          {% include 'NimbusApartmentsBundle:Apartment:form.html.twig' %}
       </fieldset>
    </form>
    
{% endblock %}