    

<form class="form-horizontal" action="{{ path('contact_apartment_action') }}" method="post">
  <fieldset>
    
    {% form_theme form 'EWZRecaptchaBundle:Form:ewz_recaptcha_widget.html.twig' %}
    
    <legend>Contact the Poster</legend>
    
    {{ form_row(form.name, 
      { 
        'label': 'Your Name *'
      }) 
    }}

    {{ form_row(form.email, 
      { 
        'label': 'Your Email *'
      }) 
    }}

    {{ form_row(form.message, 
      { 
        'label': 'Message *',
        'attr' : { 'class' : 'big_textbox' }
      }) 
    }}
    
    {{ form_row(form.recaptcha, 
      { 
        'label': 'Captcha *', 
        'help' : 'Please enter these words to validate that you\'re in fact human, and not a spam bot.'
      }) 
    }}

    {{ form_rest(form) }}
    
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Send Message</button>
    </div>
    
    <input type="hidden" name="contact[apartment_slug]" value="{{ apartment.slug }}" />
    
  </fieldset>
</form>
