{% extends 'NimbusApartmentsBundle::base.html.twig' %}

{% block body %}

<a class="btn back" href="{{ path('index_browsing') }}"><i class="icon-arrow-left"></i> Back to map</a>

<h2>{{ apartment.title }}</h2>

<div class="row">
  <div class="span6 apart-details">
    <div class="row">
      <div class="span2"><h3>Size</h3></div>
      <div class="span2">{{ apartment.size }}</div>
    </div>
    <div class="row">
      <div class="span2"><h3>Price</h3></div>
      <div class="span2">{{ apartment.lease.monthlyPrice|number_format(2,'.') }}$ / month</div>
    </div>
    <div class="row">
      <div class="span2"><h3>Date Available</h3></div>
      <div class="span2">{{ apartment.lease.startDate|date("F Y") }}</div>
    </div>
    <div class="row">
      <div class="span2"><h3>Furnished</h3></div>
      <div class="span2">{{ (apartment.isFurnished)?'Yes':'No' }}</div>
    </div>
    <div class="row">
      <div class="span4">
        <p>{{ apartment.description|nl2br }}</p>
      </div>
    </div>
  </div>
  <div class="span4 offset2">
    <a href="{{ apartment.getWebPath() }}">
      <img src="{{ image(apartment.getAbsolutePath()).cropResize(370,280) }}" />
    </a>
  </div>
</div>

{% include 'NimbusApartmentsBundle:Browsing:contact.html.twig' %}

{% endblock %}