{% extends 'NimbusApartmentsBundle::base.html.twig' %}

{% block body %}

<h2>{{ apartment.title }}</h2>

<div class="row">
  <div class="span6">
    <ul class="apartment">
      <li><h3>Size</h3> {{ apartment.size }}</li>
      <li><h3>Price</h3> {{ apartment.lease.monthlyPrice|number_format(2,'.') }}$ / month</li>
      <li><h3>Date Available</h3> {{ apartment.lease.startDate|date("F Y") }}</li>
      <li><h3>Furnished</h3> {{ (apartment.isFurnished)?'Yes':'No' }}</li>
      <li><p>{{ apartment.description|nl2br }}</p></li>
    </ul>
  </div>
  <div class="span4 offset2">
    <img src="{{ image(apartment.getAbsolutePath()).cropResize(370,280) }}" />
  </div>
</div>



{% endblock %}