{% extends 'NimbusApartmentsBundle::map.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('/bundles/nimbusapartments/js/browse.js') }}" type="text/javascript"></script>
    
    <script type="text/javascript">

      var NimApart = NimApart || {};

      NimApart.map_apartments = 
      [
        {% for apt in apartments %}
          {
            'link': "{{ path('details_browsing', {'slug': apt.slug}) }}",
            'title': "{{ apt.title }}",
            'lat': {{ (apt.latitude?apt.latitude:0) }},
            'lng': {{ (apt.longitude?apt.longitude:0) }},
            'description': "{{ apt.shortenedDescription }}",
            'image_source': "{{ (apt.getAbsolutePath ? image(apt.getAbsolutePath()).cropResize(260,180) : '') }}"
          } {{ (loop.last?'':',') }}
        {% endfor %}
      ];
    </script>
  
      
{% endblock %}

    
    
{% block body %}
  <div class="hero-unit">
    <h1>Montreal Cribs <span class="super">(beta)</span></h1>
    <p>Find the perfect Montreal apartment by browsing our map.</p>
  </div>
    
  <em>(click to see details, hover to see summary)</em>
  <div id="apartment_map" style="width:960px; height:600px;"></div>      
  

{% endblock %}